bucket_name = "bucketname-2a488e5a-b9b1-4d4f-ba6f-9e9aba84a10e"
terratowns_endpoint = "https://terratowns.cloud/api"

godOfWar = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/godOfWar/"
  content_version = 1
}
fifa23 = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/fifa23/"
  content_version = 1 
}